/******  PRIMARY COLOR  ******/
/******  SECONDARY COLOR  ******/
/******  GRAY  ******/
/******  BACKGROUND COLORS  ******/
/******  TEXT COLORS  ******/
/******  SPECIAL COLORS  ******/
/* renders the text of this element as mana (Belwe Std Bold font, white color with black outline) */
/* renders the text as white with a black outline */
@font-face {
  font-family: "Belwe Std Bold";
  src: url("../fonts/belwe-std-bold.otf") format("opentype");
}
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e1e1e1;
  color: #1e1e1e;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  background: #492609;
  width: 100%;
  height: 50px;
  padding-right: 100px;
  color: #fffbdb;
  z-index: 10;
}
header .proj-title {
  float: left;
  font-weight: 600;
  font-size: 18pt;
  line-height: 35pt;
  padding-left: 130px;
}
header .tool {
  float: right;
  font-weight: 600;
  padding-right: 20px;
  line-height: 35pt;
}

.collection-tools {
  background-color: #ffb00d;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  overflow-x: hidden;
  height: calc(100% - 50px);
  width: 300px;
  /* hide scrollbar */
  scrollbar-width: thin;
}
.collection-tools::-webkit-scrollbar {
  display: none;
}
.collection-tools span {
  display: block;
  width: 100%;
}
.collection-tools span.title {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  padding-top: 15px;
}
.collection-tools span.section {
  background-color: #e18921;
  padding: 3px 0 3px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3f1811;
}
.collection-tools span.option {
  padding: 5px 0 5px 20px;
}
.collection-tools span.option:not(:last-child) {
  border-bottom: 1px solid #e18921;
}
.collection-tools span.option.chosen {
  background-color: #492609;
  color: #e1e1e1;
}
.collection-tools span.option.chosen:hover {
  background-color: #694429;
}
.collection-tools span.option:hover {
  cursor: pointer;
  background-color: #facd5f;
}
.collection-tools .class-buttons, .collection-tools .cost-buttons {
  text-align: center;
  margin: 10px 30px 10px 30px;
}

main {
  margin-left: 300px;
  margin-top: 50px;
}

.class-button {
  width: 32px;
}

.mana-crystal {
  display: inline-block;
  background-image: url("../img/mana-crystal.png");
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

main {
  padding: 10px;
}

.search-card {
  width: 500px;
  position: relative;
  display: inline-block;
}
.search-card > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #492609;
  font-size: 11pt;
  padding: 7px 0px 7px 35px;
  width: 465px;
}
.search-card > span {
  color: #492609;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.filter-exp {
  display: inline-block;
}
.filter-exp > select {
  width: 250px;
  background-color: transparent;
  font-weight: 600;
  color: #492609;
  border: 1px solid #492609;
  border-radius: 5px;
  padding: 7px 0px 7px 5px;
}

.card-container-gallery, .card-container-list {
  margin: 20px 5px 20px 0px;
}
.card-container-gallery a, .card-container-list a {
  text-decoration: none;
  color: #1e1e1e;
}

.card-showcase {
  width: 180px;
  height: 240px;
  object-fit: cover;
  object-position: 0% 30%;
}

.card-token {
  display: flex;
  height: 33px;
}
.card-token:nth-child(even) {
  background-color: #eaeaea;
}
.card-token .card-cost {
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  line-height: 31px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: 1px solid black;
}
.card-token .card-cost.rarity-free {
  background-color: #247222;
}
.card-token .card-cost.rarity-common {
  background-color: #858585;
}
.card-token .card-cost.rarity-rare {
  background-color: #286097;
}
.card-token .card-cost.rarity-epic {
  background-color: #674196;
}
.card-token .card-cost.rarity-legendary {
  background-color: #99631d;
}
.card-token .card-name {
  height: 32px;
  width: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card-token .card-name .tile {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.card-token .card-name .tile-fade-out {
  position: absolute;
  width: 200px;
  height: 32px;
  background: linear-gradient(120deg, #333, #333 35%, transparent 70%, transparent);
}
.card-token .card-name .caption {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  font-weight: 600;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 31px;
  padding-left: 10px;
}
.card-token .card-stats {
  display: flex;
  height: 32px;
  width: 66px;
}
.card-token .card-stats .card-atk, .card-token .card-stats .card-hp, .card-token .card-stats .card-void {
  width: 32px;
  height: 32px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 31px;
  text-align: center;
  font-size: 16pt;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card-token .card-stats .card-atk {
  background-color: #ffbb00;
}
.card-token .card-stats .card-hp {
  background-color: #a71300;
}
.card-token .card-stats .card-void {
  background-color: transparent;
}
.card-token .card-exp {
  height: 33px;
  width: 128px;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  line-height: 31px;
  text-align: center;
  font-weight: 600;
}
.card-token .card-class {
  height: 33px;
  width: 160px;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}
.card-token .card-class .class-icon {
  float: left;
}
.card-token .card-class .class-label {
  display: inline-block;
  height: 33px;
  width: 128px;
  line-height: 31px;
  text-align: center;
  font-weight: 600;
}
.card-token .card-desc {
  height: 33px;
  padding-left: 12px;
  width: calc(100% - 32px - 200px - 128px - 160px - 66px - 24px);
  line-height: 31px;
  border-bottom: 1px solid #c3c3c3;
}
.card-token .card-desc span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/********************************************
 * CLASSES THAT MUST OVERRIDE ANYTHING ELSE *
 ********************************************/
.hidden {
  display: none !important;
}

/*# sourceMappingURL=styles.css.map */
